{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
<h1>Articles list</h1>
<form method="GET" action='{{path('article_page')}}'class="row">
  <div class="input-field col s5">
    <input id="query_name" type="search" name="query_name" class="validate">
    <label for="query_name">Recherche par nom</label>
  </div>
  <div class="input-field col s5">
    <input id="query_tag" type="search" name="query_tag" class="validate">
    <label for="query_tag">Recherche par tag</label>
  </div>
  <div class="input-field col s2">
    <input type='submit' value="Recherche"/>
  </div>
</form>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
      <th>Comments</th>
      {% if app.user %}<th>Actions</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
      <td>{{ article.name }}</td>
      <td>{{ article.content }}</td>
      <td>{{ article.author }}</td>
      <td>{{ article.date|date('Y-m-d') }}</td>
      <td>{{ getCountComment(article.id) }} comments</td>
      {% if app.user %}<td>
        <ul>
          <li>
            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
          </li>
          <li>
            <a href="{{ path('administration_article_edit', { 'id': article.id }) }}">edit</a>
          </li>
        </ul>
      </td>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if maxPages is defined and maxPages > 1 %}
<ul class="pagination">
  {# `«` arrow  #}
  <li {{ currentPage == 1 ? 'class="disabled"' }}>
    <a href="{{ path('article_page', {'page': currentPage-1 < 1 ? 1 : currentPage-1, 'nb': currentnb}) }}">«</a>
  </li>

  {# Render each page number #}
  {% for i in 1..maxPages %}
  <li {{ currentPage == i ? 'class="active"' : 'class="waves-effect"'}}>
    <a href="{{ path('article_page', {'page': i, 'nb': currentnb}) }}">{{ i }}</a>
  </li>
  {% endfor %}

  {# `»` arrow #}
  <li {{ currentPage == maxPages ? 'class="disabled"' }}>
    <a href="{{ path('article_page', {'page': currentPage+1 <= maxPages ? currentPage+1 : currentPage, 'nb': currentnb}) }}">»</a>
  </li>
</ul>
{% endif %}
{% if app.user %}
<ul>
  <li>
    <a href="{{ path('administration_article_new') }}">Create a new article</a>
  </li>
</ul>
{% endif %}
{% endblock %}
