{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Article creation</h1>

    {{ form_start(form) }}
      <div class='input-filed'>
        {{form_row(form.name)}}
      </div>
      <div class='input-filed'>
        {{form_row(form.content)}}
      </div>
      <div class='input-filed'>
        {{form_row(form.category)}}
      </div>
      <div class='input-filed'>
        {{form_row(form.tags)}}
      </div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
