{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ article.category.name }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td> {{article.tags|join(', ')}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('administration_article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <input type="submit" value="Send comment" />
    {{ form_end(comment_form) }}
    <div class="comments">
    {% for comment in article.comments %}
      <div>
        <p><span>{{comment.author}}</span> le <span>{{comment.date|date('Y-m-d à H-m')}}</span> min</p>
        <hr/>
        <div>{{comment.content}}</div>
      </div>
    {% endfor %}
    </div>
{% endblock %}
